.board ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.board li {
  border-radius: 10px;
  display: inline-block;
  list-style: none;
  margin: 0 5px;
  width: 150px;
  height: 240px;
}

.board .null {
  background-color: #fff;
  opacity:0.2;
}