.board ul {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.board li {
  border-radius: 10px;
  display: inline-block;
  list-style: none;
  margin: 0;
}

.board .null {
  background-color: #fff;
  opacity:0.2;
}

.board {
  transform: scale(5,5);
  -webkit-transform: scale(5,5);
  transition: all 5s;
  -webkit-transition: all 5s; 
}

.board ul:first-child .null, .board ul:last-child .null, .board ul li:first-child, .board ul li:last-child{
  background-color: transparent;
}