.board ul {
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.board li {
  border-radius: 10px;
  display: inline-block;
  list-style: none;
  margin: 0;
}

.board li:not([card]){
  background-color: #fff;
  opacity:0.2;
}

.board {
  transform: scale(5,5);
  -webkit-transform: scale(5,5);
  transition: all 5s;
  -webkit-transition: all 5s; 
}

[type=preview] {
	-webkit-animation-name: bluePulse;
	-webkit-animation-duration: 2s;
	-webkit-animation-iteration-count: infinite;
}

.board li:not([card])[type=preview] {
	-webkit-animation-name: initial;
}

@-webkit-keyframes bluePulse {
	from { box-shadow: 0 0 9px #2daebf; -webkit-filter: brightness(1.0); }
	50% { box-shadow: 0 0 18px #92E5F0; -webkit-filter: brightness(1.15);}
	to { box-shadow: 0 0 9px #2daebf; -webkit-filter: brightness(1.0);}
}

#board .screen {
	-webkit-perspective: 400px;
	-webkit-perspective-origin-x: 50%;
	-webkit-perspective-origin-y: 10%;
}

.board {
	-webkit-perspective: 100px;
	position: relative;
}

.playing-action-card {
  bottom: 0;
  height: 200px;
  position: absolute;
  width: 100%;
}

#selected-action-card {
  background-repeat: no-repeat;
  background-size: 300px;
  border-radius: 15px 15px 0 0;
  height: 100%;
  margin: 0 auto;
  width: 300px;
}