.hand {
  overflow: hidden;
}

.hand ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}

.hand li {
  display: inline;
  list-style: none;
  max-width: 150px;
  height: 260px;
}

.hand li img {
  border-radius: 10px;
  max-width: 150px;
  margin: 0 5px;
} 


ul.images {
  width: 900px;
  overflow-x: auto;
  background-color: #ddd;
}
