.hand {  
  height: 260px
}

.hand ul {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 1000px;
}

.hand li {
   display: inline-block;
}

.hand li img {
  border-radius: 10px;
  max-width: 150px;
  margin: 0 5px;
} 