.info {
  background-color: #FFC600;
  border: 5px solid;
  border-radius: 10px;
  font-size: 25px;
  margin: 20px auto 40px auto;
  text-align: center;
 	padding: 10px;
  width: 60%;
}

.code {
  background-color: #FFE073;
  border: 2px solid white;
	box-shadow: 0 0 25px white;
  border-radius: 10px;
  color: black;
  font-size: 40px;
  font-style: italic;
  margin: 5px auto;
  padding; 5px;
  width: 50%;
  -webkit-transition: all 0.5s;
}

.code:hover {
  background-color: white;
  box-shadow: 0 0 30px white;
}

.colour {
  border-radius: 5px;
  display: table-cell;
  height: 150px;
	width: 95px;
	vertical-align: middle;
}

.player-title {
  background: #cccccc;
  box-shadow: 0 5px black;
	width: 100%;
}

.player-text {
  color: black;
  font-size: 30px;
  font-weight: bolder;
  text-transform: uppercase;
}

.colour .player-text {
  font-size: 15px;
  text-shadow: 0 0 5px white;
}

.waiting-text {
  color: #B5B5B5;
  font-weight: bold;
  font-size: 20px;
}

.ready-button {
  background-color: #FFC600;
  border-radius: 10px;
  border: 2px solid;
  color: grey;
  font-size: 30px;
  font-weight: bolder;
  padding: 20px 0;
  text-transform: uppercase;   
  width: 70%;
}

.ready-button:active {
  border-color: #A68100 #FFD440 #FFE073 #BF9F30;
  text-shadow: 0 0 10px white;
}



