
#card_container {
  margin: 20px auto;
  height: 506px;
  position: relative;
  width: 319px; 
  z-index: 1;  
}
#card_container {
  perspective: 1000;
  -webkit-perspective: 1000;
}
#loading_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1.0s linear;
  -webkit-transition: all 1.0s linear;
}
#card_container:hover #loading_card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); 
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.face img {
  border-radius: 20px;
  border: 3px solid black;
}

.loading-text {
  color: yellow;
  font-family: 'Rosario', latin;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 2px black;
}
