#card_container {
  height: 306px;
  margin: 20px auto;
  position: relative;
  width: 194px; 
  z-index: 1;  
  
  perspective: 1000;
  -webkit-perspective: 1000;
}

#loading_card {
  height: 100%;
  width: 100%;
  
  transform-style: preserve-3d;
  transition: all 1.0s linear;
  
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
  
  animation-name:card_rotation;
  animation-duration:3s;
  animation-iteration-count:infinite;
  animation-timing-function:linear;
	
  -webkit-animation-name:card_rotation;
  -webkit-animation-duration:3s;
  -webkit-animation-timing-function:linear;
  -webkit-animation-iteration-count:infinite;
}

#loading_card img {  
  border-radius: 20px;
  border: 3px solid black;
  max-width: 300px;
  max-height: 300px;
}

.face {
  backface-visibility: hidden;
  box-sizing: border-box;
  
  -webkit-backface-visibility:hidden;
  -webkit-box-sizing: border-box;
  
  height: 100%;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.loading-text {
  font-size: 40px;
}

@keyframes card_rotation {
    from {
        transform:rotateY(0deg);    
    }   
    to {
        transform:rotateY(360deg);    
    }
}

@-webkit-keyframes card_rotation {
    from {
        -webkit-transform:rotateY(0deg);
    }
    to {
        -webkit-transform:rotateY(360deg);    
    }
}
