#card_container {
  height: 306px;
  margin: 20px auto;
  position: relative;
  width: 194px; 
  z-index: 1;  
  
  perspective: 1000;
  -webkit-perspective: 1000;
}

#loading_card {
  height: 100%;
  width: 100%;
  
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1.0s linear;
  -webkit-transition: all 1.0s linear;
}

#loading_card img {
  border-radius: 20px;
  border: 3px solid black;
  max-width: 300px;
  max-height: 300px;
}

#card_container:hover #loading_card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg); 
}

.face {
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  
  height: 100%;
  display: block;
  position: absolute;
  text-align: center;
  width: 100%;
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.loading-text {
  color: yellow;
  font-family: 'Rosario', latin;
  font-size: 40px;
  font-weight: bold;
  -webkit-text-stroke: 1px black;
}
