.lobby-text {
  font-size: 65px;
}

.input {
  background: yellow;
  border-color: #fff99f #e2db72 #a59f4b #67632b;
  border-radius: 50px;
  border-style: solid;
  font-weight: bold;
	text-transform: uppercase;  
}

.input:active {
  border-color: #a59f4b #e2db72 #fff99f #67632b;
}

.create-game {
  border-width: 10px;
  font-size: 40px;
  padding: 10px 40px;
}

.create-game:active {
  padding: 13px 37px 7px 43px;
  box-shadow: 0 0 40px white; 
}

.code {
 	background-color: black;
  border-radius: 50px;
  border: 2px solid;
  border-color: #fff99f #e2db72 #a59f4b #67632b;
  color: white;
  font-size: 20px;
  line-height: 35px;
  opacity; 0.7;
  padding: 4px 60px;
}

.join {
	font-size: 20px;
  padding: 10px 30px;
	text-transform: uppercase;  
}