@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=PT+Serif:400,700);
@import url(/stylesheets/loading.css);
@import url(/stylesheets/lobby.css);
@import url(/stylesheets/join.css);

.debug {
  outline: 1px solid red;
}

#game section {
  display: none;
}

#game[page=loading] #loading, 
#game[page=lobby-view] #lobby-view,
#game[page=lobby-controller] #lobby-controller, 
#game[page=join] #join,
#game[page=join-mobile] #join-mobile,
#game[page=choose-role] #choose-role {
  display: block
}

body {
  background-color: black;
  cursor:default;
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;   
  -webkit-user-select: none;
}

.center {
  margin: 10px auto;
  text-align: center;
}

.layer {
	background-image: url(/images/background.jpg);
  background-position:center; 
  background-size: cover;
  border: 5px solid;    
  
  border-radius: 20px;
	margin: 20px;
}

.screen {
  border-radius: 20px;
  background: -webkit-radial-gradient(circle, transparent, black);
  display: table-cell;
  vertical-align: middle;
}

.title {
	color: #FFDD00;
  font-family: "PT+Serif";
  font-style: italic;
	font-weight: bold;  
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
  
  -webkit-text-stroke: 1px black;
}

.yellow-border {
  border-color: #FFE073 #BF9F30 #A68100 #FFD440;
}

.white-border {
  border-color: white #cccccc #818181 #cccccc;
}
