@import url(http://fonts.googleapis.com/css?family=Rosario:400,700italic);
@import url(/stylesheets/loading.css);
@import url(/stylesheets/lobby.css);

#game section {
  display: none;
}

#game[page=loading] #loading, 
#game[page=lobby-view] #lobby-view,
#game[page=lobby-controller] #lobby-controller, 
#game[page=choose-role] #choose-role {
  display: block
}

.center {
  margin: auto;
  text-align: center;
}

body {
  background-color: black;
}

.screen {
  background-image: url('/images/background.jpg');
  border-radius: 20px;
  border: 5px solid white;
  padding: 20px;
  
}