#game section {
  display: none;
}

#game[page=loading] #loading, 
#game[page=lobby-view] #lobby-view,
#game[page=lobby-controller] #lobby-controller, 
#game[page=choose-role] #choose-role {
  display: block
}



#card_container {
  position: relative;
  width: 313px;
  height: 500px;
  z-index: 1;
  margin: auto;
  border-radius: 10px;
}
#card_container {
  perspective: 1000;
  -webkit-perspective: 1000;
}
#loading_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transition: all 1.0s linear;
  -webkit-transition: all 1.0s linear;
}
#card_container:hover #loading_card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: block;
  padding: 10px;
  backface-visibility: hidden;
  -webkit-backface-visibility:hidden;
  text-align: center;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.back {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}