[playernumber="0"] {
  background-color: rgba(255, 0, 0, 0.5);
}

[playernumber="1"] {
  background-color: rgba(255, 153, 51, 0.5);
}

[playernumber="2"] {
  background-color: rgba(255, 255, 51, 0.5);
}

[playernumber="3"] {
  background-color: rgba(0, 102, 0, 0.5);
}

[playernumber="4"] {
  background-color: rgba(51, 51, 255, 0.5);
}

[playernumber="5"] {
  background-color: rgba(102, 0, 102, 0.5);
}

[playernumber="6"] {
  background-color: rgba(255, 255, 255, 0.5);
}

[playernumber="7"] {
  background-color: rgba(0, 0, 0, 0.5);
}


.players {
  margin: auto;
  text-align: center;
}

.player {
  background-image: url(/images/job-card-back.jpg);
  background-size: cover;
  border-radius: 5px;
  display: inline-block;
  height: 150px;
 	margin: 0 10px;
  width: 94px;
}

.players .player {
  opacity: .5;
  -webkit-filter: blur(2px);
  -webkit-transition: all 0.5s;
}

.players .player:hover {
  opacity: 0.6;
  -webkit-transform: scale(1.1, 1.1);
}

.player-joined {
  opacity: 0.8;
  -webkit-filter: blur(0px);
  -webkit-transform: scale(1.2, 1.2);
}

li[playernumber] {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
}

.playernumber {
  color: #fff;
}

.blocks li {
  height: 80px;
  width: 50px;
  background-size: 50px;
  border-radius: 5px;
}

.blocks li[blocked=false] {
  opacity: 0.7;
  -webkit-filter: blur(1px);
}
