#play-card .view-wrapper {
  max-width: 375px;
  margin: auto;
}

.selected-card {
  border-radius: 10px;
  border: 2px solid black;
  height: 240px;
  margin: 0 auto;
  width: 150px;
}

.play-card {
  
}

.buttons {
  margin: 10px auto;
  text-align: center;
}

.back-button, .rotate-button {
  background-size: contain;  
  border-radius: 10px;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.discard-button {
	border-radius: 5px;
	margin: 0 30px;
	padding: 5px;
}

.back-button, .rotate-button, .discard-button {
	background-color: orange;
	border: 2px solid black;
	box-shadow: 0 3px black;
	color: white;
	font-size: 21px;
	font-weight: bold;
	text-shadow: black 2px 2px;
	position: relative;
}

.back-button:hover, .rotate-button:hover, .discard-button:hover {
	box-shadow: 0 4px black;
	top: -1px;
}

.back-button:active, .rotate-button:active, .discard-button:active {
	box-shadow: 0 0 black;
	top: 3px;
}

.back-button {
  background-image: url('/images/icons/back-icon.png'); 
}

.rotate-button {
  background-image: url('/images/icons/rotate-icon.png'); 
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
}

.rotated .play-button {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
}

.play-button {
  color: white;
  font-weight: bold;
  font-size: 35px;
  margin: 0 auto;
  padding: 100px 0;
  text-shadow: 2px 2px black;
  text-align: center
}

.d-pad {
  font-size: 0;
  height: 200px;
  width: 200px;  
}

.box {
  height: 50px;
  width: 50px;
}

ul, li {
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

ul {
  display: block;
}

.left, .right, .up, .down, .center {
  background-color: orange;
  border: 2px solid black;
  border-radius: 15px;
  position: relative;
}

.left, .right, .down {
  box-shadow: 0px 5px black;
}

.left {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.center {
  border-color: orange;
  border-left: none;
  border-right: none;
  border-radius: 0;
  z-index: 100;
}

.up {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.right {
  border-left: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.down {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0
}


.left:active {
  background: linear-gradient(to right, white 0%, #FF9900 100%);
  box-shadow: 0 2px black;
  left: 3px;
}

.right:active {
  background: linear-gradient(to left, white 0%, #FF9900 100%);
  box-shadow: 0 2px black;
  right: 3px;
}

.up:active {
  background: linear-gradient(to bottom, white 0%, #FF9900 100%);
  top: 3px;
}

.down:active {
  background: linear-gradient(to top, white 0%, #FF9900 100%);
  box-shadow: 0 0 black; 
}

.d-pad:active .up, .d-pad:active .down, .d-pad:active .left, .d-pad:active .right {
  background-color: #FF9900;  
}

.d-pad:active .center {
  background-color: #FF9900;  
  border-color: #FF9900;
}